body {
   background-image: 
   linear-gradient(
      rgba(247,136,47, 0.25), 
      rgba(247, 136, 47, 0.25)
    ),
   url(https://images.unsplash.com/photo-1599751449318-f55b9187cdb4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1049&q=80); 
   background-size: 100%;
   background-attachment: fixed;
   font-family: 'Balsamiq Sans', cursive;
   font-weight: bold;
}

#header {
  font-family: 'Rock Salt', cursive;
  color: ivory;
}



#event-btn {
  background-color: #6b7a8f;
  background-image: url(https://images.unsplash.com/photo-1584397953205-541303985381?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80);
  background-size: cover;
  background-blend-mode: overlay;
  width: 30rem;
  height:15rem;
  color: #f7c331;
  margin-top: 4rem;
  margin-left: 4rem;
  float: left;
  
  font-size: 3rem;
  border-radius: 10px;
}

#occasion-btn {
  background-color: #6b7a8f;
  background-image: url(https://images.unsplash.com/photo-1485872299829-c673f5194813?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=964&q=80);
  background-size: cover;
  background-blend-mode: overlay;
  width: 30rem;
  height:15rem;
  color: #f7c331;
  margin-top: 4rem;
  font-size: 3rem;
  border-radius: 10px;
  margin-left: 4rem;
}

#categories-btn {
  background-color: #6b7a8f;
  background-image: url(https://images.unsplash.com/photo-1489712310660-bbce44cc541d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1512&q=80);
  background-size: cover;
  background-blend-mode: overlay;
  width: 30rem;
  height:15rem;
  color: #f7c331;
  margin-top: 4rem;
  margin-left: 4rem;
  float: left;
  
  font-size: 3rem;
  border-radius: 10px;
}

#dates-btn {
  background-color: #6b7a8f;
  color: #f7c331;
}

#search-form {
  color: #f7c331; 
}

#search-submit-btn {
  color: #f7c331; 
}

#hero {
  background-color: #b3b5b8;
  background-image: url(https://images.unsplash.com/photo-1478760329108-5c3ed9d495a0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=967&q=80);
  background-size: cover;
  background-blend-mode: overlay;
}

#hero-h1 {
  color: #f7c331; 
  font-family: 'Rock Salt', cursive;
  margin-bottom: 2rem;
}

#hero-lead {
  color: rgb(242, 226, 198);
}

#add-occ-event-btn {
  background-color: #6b7a8f;
  color: #f7c331;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.card {
  position: relative; 
  width: 50rem; 
  height: auto; 
  background-color: rgb(187, 178, 158);
  margin-bottom: 3rem; 
  display: block;
  margin: 0 auto; 
  float: none; 
  margin-bottom: 10px; 
  background-size: 100%;
  background-blend-mode: overlay;
}

#card-head { 
  color: #263c57; 
  padding: 1rem; 
  font-family: 'Rock Salt', cursive;
}


#event-delete-btn {
  float: right; 
  color: #344357;
}

#desc-p {
  color: #344357;
   
  font-size: large;
}

#occ-p {
  color: #344357;
  
  font-size: large;
}

#location-p {
  color: #344357;
  
  font-size: x-large;
}

#dur-cost-p {
  color: #344357; 
  padding-right: 1rem;
}

#edit-btn {
  background-color: #6b7a8f;
  color: #f7c331;
  float: left;
}

/*///////////////////////////*/

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 20rem;
  top: 0;
  width: 50%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgb(142, 93, 33, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: black;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  background-image: 
  linear-gradient(
      rgba(247,136,47, 0.35), 
      rgba(247, 136, 47, 0.35)
    ),
  url('https://images.unsplash.com/photo-1539541417736-3d44c90da315?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80');
  background-size: cover;
  display: block;
  text-align: center;
}

.event-form {
  display: block;
  
}

#event-submit {
  background-color: #6b7a8f;
  color: #f7c331;
}
  
#occ-div {
  font-family: 'Rock Salt', cursive;
  color: #6b7a8f;
}

#occ-card {
  position: relative; 
  width: 50rem; 
  height: auto; 
  background-color: rgb(187, 178, 158);
  margin-bottom: 3rem; 
  display: block;
  margin: 0 auto; 
  float: none; 
  margin-bottom: 2rem; 
}

#add-occ-btn {
  background-color: #6b7a8f;
  color: #f7c331;
  margin-bottom: 2rem;
}

#occ-date-div{
  margin-top: .5rem;
  color: #6b7a8f;
}

#occ-time-div{
  margin-top: .5rem;
  color: #6b7a8f;
}

#occ-event-list{
  margin-top: 1rem;
  color: #6b7a8f;
}

#occ-event-li {
  color: #6b7a8f;
}

.popover-header {
  background-color: #6b7a8f;
  color: #f7c331;
  font-size: x-large;
}

.popover-body {
  background-color: #6b7a8f;
  color: #f7882f;
  font-size: large;
}


#cat-div {
  font-family: 'Rock Salt', cursive;
  color: #344357;
}

#add-event-btn {
  color: #f7c331;
  margin-top: .5rem;
}

#total-cost-p {
  color: #344357;
}

#card-footer-p {
  color: #344357;
}
